#home {
  max-width: $max-page-width;
  margin: 0 auto;
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.parent-wrapper-flex {
  @media (min-width: $breakpoint-768px) {
    display: flex;
    display: -webkit-flex;
  }
}
.customer-addition-wrapper,
.customer-display-wrapper {
  padding: 20px;
  border: 1px solid $light-black;
  border-radius: 3px;
  width: 100%;
  margin: 0 0 5% 0;
  @media (min-width: $breakpoint-768px) {
    width: 50%;
    margin: 0 1% 0 0;
  }
}

.customer-display-wrapper {
  max-height: 400px;
  overflow-y: scroll;
}

.customer-add-title,
.customer-display-title {
  margin-bottom: 15px;
}

.search-result-wrapper {
  margin: 20px 0;
  .search-result-title {
    margin-bottom: 15px;
  }
  
  .customer-info {
    .edit,
    .delete {
      display: none;
    }
  }
}