.list-item {
  margin-bottom: 10px;
}

.customer-info {
  padding: 10px;
  border-radius: 3px;
  background-color: $gray-shade-1;
  .last-name {
    margin-left: 10px;
  }
}

.name-label,
.dob-label {
  margin-right: 10px;
}

.btn {
  &.delete {
    background-color: $red;
    float: right;
  }
  
  &.delete,
  &.edit {
    color: $white;
    padding: 5px 18px;
    margin-top: 12px;
  }
  
  &.edit {
    background-color: $light-blue;
  }
}