body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}