//Colors
$white: #fff;
$light-black: #35414E;
$light-gray: #f2f2f2;
$light-blue: #45a7e0;
$gray-shade-1: #d1d1d1;
$red: #ff0000;

//Variables
$breakpoint-768px: 768px;
$breakpoint-1024px: 1024px;
$max-page-width: 960px;

$app-bg: $light-gray;